.section-bg {
  background: #f8f8f8;
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 85%;
  height: 300px;
  margin: auto;
}
.details {
  display: flex;
  justify-content: center;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 250px;
  height: 213px;
  margin: auto;
}
